*
{
	margin:0;
	padding: 0;
	font-family: Arial;

}
p
{
	font-family: Arial;
	font-size: 15px !important ;
	color: rgba(0,0,0,.54);
	margin: 10px 30px;
}
header 
{
	margin-bottom: 160px;
	display: flex;
	justify-content:flex-end;
	width: 100%;
	margin-bottom: 160px;
	margin-top: 10px;
}
nav 
{
	font-size: 13px;
	margin-right: 20px;
}

ul
{
	list-style-type: none;
}

li
 {
    display: inline-block;
    margin:10px 7px;
}

a
{
	text-decoration: none;
	color:rgba(0,0,0,0.87);
}

a:hover
{
	text-decoration: underline;
	color:#666;
}

.container
{	
	width: 100%;
	height: auto;
	display:flex;
	align-items:center;
	justify-content:center;
	align-content:center;
}
.champstext
{
	margin-top: 20px;
	width: 530px;
    height: 30px;
    overflow: hidden;
    padding: 5px 9px;
    font-size: 16px;
    line-height: 34px;
    vertical-align: top;
   	border: none;
   	border-radius: 2px;
   	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
   	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.champstext:hover
{
	box-shadow: 0 4px 4px 0 
	rgba(0,0,0,0.16), 0 0 0 1px 
	rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.boutton
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 4px;
    min-width: 54px;
    padding: 10px 16px;
    text-align: center;
}
.boutton:hover
{
	border: 1px solid #aaa;
	font-weight:600;
	color:#000;
}

aside
{
	font-size: 13px;
	color: #222;
	margin-top: 10px;
}

aside a 
{
	font-size: 13px;
	color: #1a0dab
	margin-top: 10px;
}

footer
{
	background-color: #f2f2f2;
	bottom: 0px;
    position: absolute;
    width: 100%;
}

#country
{
	border-top: 1px solid  #ccc;
	border-bottom: 1px solid  #ccc;
}

footer nav
{
	display:inline-block;
	margin-left: 23px;
	padding:3px 0;
}

nav#right
{	
	margin-right: 23px;
	display: flex;
	justify-content:flex-end;
	float:right !important;
}